@model IEnumerable<Geodesyx.Models.DTO.Request>

@{
    ViewBag.Title = "Заявки";
}

<h2>Заявки</h2>

<h3>Список заявок</h3>
<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var item in ViewBag.RequestList) {
    <tr>
        <td>
            @item.id 
        </td>
        <td>
           @item.name
        </td>
        <td>
            @item.orderStatusChange 
        </td>
        <td>
            @item.description
        </td>
    </tr>
}
</table>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
